.swiper-container {
  position: relative;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  transform: translateX(0%);
  z-index: 10; /* Ensure it appears above other content */
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
}

.swiper-button-prev {
  left: 10px; /* Adjust as needed */
}

.swiper-button-next {
  right: 10px; /* Adjust as needed */
}
